# Зависимости
node_modules/

# Секреты
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Сборка
dist/
build/

# Кэш
.eslintcache
.cache/

# Логи
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db